#logo {
    width: 30%;
    margin-top: 50px;
}

#img-head {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

ion-icon{
  z-index: 999;
  color: white;
  font-size: 38px;
  margin-top: 10px;
  margin-left: 10px;
}

ion-content{
  height: 100%;
}

#img-foot{
  display: flex;
}