<ion-header>
  <ion-toolbar color="light">
    <ion-button (click)="dismiss()" slot="end" fill="clear" color="danger">Fermer</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div style="padding: 10%;">
    <img src="assets/images/blood-donation.png"> 
  </div>
<div style="text-align: center;">
  <h1>Merci pour votre Application</h1>
</div>
<p style="margin-left:5%;font-size:large;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
  Votre donnation peut sauver des vies. 
  Nous vous remercions pour votre intiative 
  Maintenat il faut se déplacer vers le centre
  Pour concrétiser votre donnation.    
</p>
</ion-content>
